<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="matrixservice" path="~/matrixservice.asmx" verb="*" type="System.Web.UI.SimpleHandlerFactory"/>
    </handlers>
  </system.webServer>
</configuration>
