<div class="container">
    <p align="justify">
        I am a pharmacist by education but a software engineer by profession. I have been
        into this industry for the past fourteen years and will continue to be in this line
        way into the future. The domain knowledge that I have is mostly Finance and Banking.
        Along with completion of a few technical certifications like <u>
            <i>
                Sun Certified Java Programmer
                (SCJP)
            </i>
        </u> and <u><i>Microsoft Certified Professional (MCP)</i></u>, I have also completed some domain specific
        certifications like <u><i>National Stock Exchange's Capital Market</i></u> examination. I started
        my career in Java technologies but now I have been completely mesmerized by MS technologies
        after the advent of .Net framework. Before working as a developer I used to teach
        young minds (people who are young at heart and mind) about computers.
        I had privilege of teaching some nuances of computers to IIT students (considered
        to be one of the premier educational institute of the country i.e. India).
        This site has some of the softwares built by me which i thought were useful.
        If you want to develop some product or application, please contact me as
        I might be able to arrange something.
    </p>
    <p>
        For any further queries please mail me
        <A HREF="mailto:&#109;&#97;&#104;a&#114;&#105;&#115;hi.&#98;ha&#116;ia&#64;&#103;mai&#108;.&#99;&#111;m">
            <img alt="" ng-src="/Content/img/google.php.png" style="border: none 0" />
        </A>
    </p>
</div>